:root {
    --bg: #263238;
    --txt: #eceff1;
    --accent: #90a4ae;
    --accent-focus: #cfd8dc;
    --bg2: #158ecb;
}

html,
body {
    font-family: Verdana, serif;
    background-color: var(--bg);
    color: var(--txt);
}

header{
    background-color: var(--bg2);
}

a,
a:visited {
    color: var(--txt);
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
    color: var(--accent-focus);
    text-decoration: underline;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

body>header {
    display: flex;
    align-items: baseline;
}

h1 {
    text-align: center;
}

.flex-sh {
    flex: 1 1 auto;
}


nav {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.tag-item {
    display: flex;
    margin: 20px;
    border-radius: 15px;
    color: blueviolet;
    padding: 10px 20px;
    background-color: var(--bg2);
}

li {
    list-style: none;
    text-align: center;
    margin: 10px;
}

