<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet Angular</title>
</head>

<body>
    <header>
        <h1>Bonjour {{prenom}}</h1>
        <div class="flex-sh">
            <nav>
                <li>
                    <a
                        href="">
                        Accueil
                    </a>
                </li>
                <li>
                    <a
                        href="">
                        Étiquettes
                    </a>
                </li>
                <li>
                    <a
                        href="">
                        Liste Notes
                    </a>
                </li>
            </nav>
        </div>
    </header>

    <main>
        <router-outlet>
            
        </router-outlet>
    </main>

    <footer>
      
    </footer>

</body>

</html>